ul {
	&.noStyle {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	&.navMenu {
		li {
			flex-direction: column;
			padding: 15px;
			justify-content: center;
			display: flex;
			color: inherit;

			button {
				background: none;
				border: none;
				color: inherit;
				padding: 15px;
				font-size: 16px;
				text-transform: uppercase;
				cursor: pointer;

				&:hover {
					color: #E6A71C;
				}
			}
		}
	}
}
