.padding0 {
	padding: 0;
}

.padding, .padding10 {
	padding: 10px;
}

.padding20 {
	padding: 20px;
}

.padding30 {
	padding: 30px;
}


.paddingTop0 {
	padding-top: 0px;
}

.paddingTop10 {
	padding-top: 10px;
}

.paddingTop15 {
	padding-top: 15px;
}

.paddingTop20 {
	padding-top: 20px;
}

.paddingTop50 {
	padding-top: 50px;
}

.paddingTop100 {
	padding-top: 100px;
}

.paddingLeft0 {
	padding-left: 0px;
}

.paddingLeft10 {
	padding-left: 10px;
}

.paddingLeft15 {
	padding-left: 15px;
}

.paddingLeft20 {
	padding-left: 20px;
}

.paddingRight0 {
	padding-right: 0px;
}

.paddingRight10 {
	padding-right: 10px;
}

.paddingRight15 {
	padding-right: 15px;
}

.paddingRight20 {
	padding-right: 20px;
}

.paddingBottom0 {
	padding-bottom: 0px;
}

.paddingBottom5 {
	padding-bottom: 5px;
}

.paddingBottom10 {
	padding-bottom: 10px;
}

.paddingBottom15 {
	padding-bottom: 15px;
}

.paddingBottom20 {
	padding-bottom: 20px;
}

.paddingBottom50 {
	padding-bottom: 50px;
}

.paddingBottom100 {
	padding-bottom: 100px;
}